<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= category %> Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1><%= category %> Menu</h1>
  
  <% menuItems.forEach(element => { %>
    <h3><%= element.name %></h3>
    <p>Price: $<%= element.price %></p>
    <p>Rating: <%= element.rating %></p>
    <p>Details: <%= element.details %></p>
  <% }) %>

</body>
</html>
